body {
  background-position: center;
  background-image: url("../img/river.jpg");
  background-color: #7a9e5a;
  background-repeat: no-repeat;
}

h1{
  background-color: #d1a966;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 6px #7a9e5a, 0 0 10px #7a9e5a;
}

ul {
  font-weight: 300;
  text-shadow: 3px;
  color: white;
}

#ol {
  align-items: center;
  text-align: center;
}

#li{
  align-items: center;
}
