body {
  background-position: center;
  background-image: url("../img/ibiza.jpg");
  background-color: #675b9e;
  background-repeat: no-repeat;
}

h1{
  background-color: gold;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 3px #42f4f1, 0 0 5px #42f4f1;
}

ul {
  font-weight: 100;
  text-shadow: 3px;
  color: white;
}

#ol {
  align-items: center;
  text-align: center;
}

#li{
  align-items: center;
}
